/* primary colors */ 
$logo: black
$primary-main1 rgba(44, 122, 108, 1);
$primary-2: rgba(196, 196, 196, 1);
$btn-bg: rgba(48, 132, 72, 1);
$logobit:rgba(248, 30, 134, 1);

/*fonts*/
@mixin hdrfont {
    font-family: Verdana, Geneva, Tahoma, sans-serif Rockwell;
 size: 36px;
 font-style: normal;
 font-weight: 700;
 line-height: 42px;
 letter-spacing: 0em;
 text-align: left;
}  
    
@mixin sub-btn {
    height: 42px;
width: 136px;
left: 1182px;
top: 49px;
border-radius: 20px;
}